<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SearchList Page</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../5/minty/bootstrap.css">
	<link rel="stylesheet" href="../_vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../_vendor/prismjs/themes/prism-okaidia.css">
	<link rel="stylesheet" href="../_assets/css/custom.min.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23019901-1"></script>
	<script src="../_vendor/jquery/dist/jquery.min.js"></script>
	<script src="../_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../_vendor/prismjs/prism.js" data-manual></script>
	<script src="../_assets/js/custom.js"></script>
	
	<!-- 본문 푸터랑 배치
	<style> html,body {height:100%;}</style>
	본문 div에 height: 75% !important; 추가
	-->
	<!-- 디자인 변경 시
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	-->
</head>

<body>

	<!-- 헤더 -->
	<th:block th:replace="include/header::header"></th:block>

	<!-- 네비 -->
	<th:block th:replace="include/navbar::navbar"></th:block>

	<br><br>
	
	<div style="float: left; width: 9%; margin-left: 2%;">
		<th:block th:replace="include/sideLeft"></th:block>
	</div>
	<div style="float: right; width: 9%; margin-right: 8%;">
		<th:block th:replace="include/sideRight"></th:block>
	</div>
	
	<div style="text-align: center;">
		<h3>검색결과</h3>		
		<small th:if="${type} == 't'"
		th:text="'제목 ' + ${param.keyword} + '에 대한 검색 결과입니다'"></small>
		<small th:if="${type} == 'c'"
		th:text="'내용 ' + ${param.keyword} + '에 대한 검색 결과입니다'"></small>
		<small th:if="${type} == 'u'"
		th:text="'작성자 ' + ${param.keyword} + '에 대한 검색 결과입니다'"></small>
	</div>
	<br><br>

	<!-- 본문 -->
	

	<!-- 게시판 부분 -->
	<div class="container" style="float: center; width: 65%;">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr class="text-center">
					<th scope="col">번호</th>
					<th scope="col">갤러리</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">작성일</th>
					<th scope="col">조회</th>
					<!--
					<th scope="col">추천</th>
					-->
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				<!-- 컨트롤러에서 모델에 붙여진 postList를 받는다 -->
				<tr class="text-center" th:each="posts : ${postList}">
					<th scope="row">
						<span th:text="${posts.pno}"/>
					</th>
					<th scope="row">
						<span th:text="${posts.gallery.galname}"/>
					</th>
					<th scope="row">
						<a th:href="@{'/gallery/postDetail/' + ${posts.pno} + '/' + ${session.userid}}">
							<span th:text="${posts.title}"/>
						</a>
					</th>
					<td>
						<span th:text="${posts.member?.userid}"/>
					</td>
					<td>
						<span th:text="${#dates.format(posts.postdate, 'yyyy-MM-dd')}"/>
		            </td>
		            <td>
		            	<span th:text="${posts.hit}"/>
		            </td>
		            <!--
		            <td>
		            	<span th:text="${posts.up}"/>
		            </td>
		            -->
		        </tr>
	        </tbody>	        
	    </table>
	    <div class="row">
	        <div class="col-lg-9">
		        <!-- 페이징 처리 네비게이션 바 -->
		        <div style="margin-right: 50px;">
					<ul class="pagination">
						<li class="page-item">
	 						<a class="page-link" aria-label="Previous"
	 						th:href="@{searchList(type=${param.type}, keyword=${param.keyword}, page=1)}">
								<span aria-hidden="true">처음</span>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link" aria-label="Previous" 
							th:href="@{searchList(type=${param.type}, keyword=${param.keyword}, page = ${pagination.prevBlock})}">
								<span aria-hidden="true">이전</span>
							</a>
						</li>
						<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							<li class="page-item" th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							th:each="pageButton : ${#numbers.sequence(start, end)}">
								<a class="page-link" th:text=${pageButton} 
								th:href="@{searchList(type=${param.type}, keyword=${param.keyword}, page = ${pageButton})}"></a>
							</li>
						</th:block>
						<li class="page-item">
							<a class="page-link" aria-label="Next"
							th:href="@{searchList(type=${param.type}, keyword=${param.keyword}, page = ${pagination.nextBlock})}">
								<span aria-hidden="true">다음</span>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link" aria-label="Previous"
							th:href="@{searchList(type=${param.type}, keyword=${param.keyword}, page = ${pagination.totalPageCnt})}">
								<span aria-hidden="true">끝</span>
							</a>
						</li>
					</ul>
		        </div>
	        </div>
	    </div>
	</div><br><br>
	
	<!-- 푸터 -->
	<th:block th:replace="include/footer::footer"></th:block>
	
</body>
</html>